global
    log stdout format raw local0
    maxconn 4096

defaults
    mode http
    log global

    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend main
    bind *:80
    default_backend chat_api

backend chat_api
    balance roundrobin
    server chat_api api:3001 check

    acl is_auth path_beg /auth
    acl is_users path_beg /users
    acl is_conversations path_beg /conversations
    acl is_messages path_beg /messages
    acl is_contacts path_beg /contacts
    acl is_conversation_members path_beg /conversation-members

    monitor-uri /health

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 30s
    stats show-legends
    stats show-node
